# ─────────────────────────────────────────────
#  Generic system cruft
# ─────────────────────────────────────────────
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
*.log

# ─────────────────────────────────────────────
#  Python / VS Code
# ─────────────────────────────────────────────
__pycache__/
*.py[cod]
.vscode/

# ─────────────────────────────────────────────
#  GNS3
# ─────────────────────────────────────────────
project-files/
*.qcow2
*.img
*.vmdk
*.vdi
*.iso
*.gns3project.zip


# ─────────────────────────────────────────────
#  Archives / PDF
# ─────────────────────────────────────────────
*.zip
*.tar
*.tar.gz
*.pdf~
